h1 {
  padding: 25px;
}

h1,
h2,
h3 {
  text-align: center;
  font-family: "Paytone One", sans-serif;
}
p {
  text-align: center;
}

img {
  max-width: 500px;
  display: block;
  margin: 0 auto;
  border-radius: 10px;
}

section {
  height: 65vh;
}

.suField {
  width: 75%;
}

.suEnter {
  width: 25%;
}

.jottings p {
  text-align: left;
}
